<!DOCTYPE html>
<html>
<head>
  <title>ProjectLaunch</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="title-bar menu-horizontal sticky" data-sticky  data-top-anchor="150"  data-responsive-toggle="mobile-menu" data-hide-for="medium">
    <div class="title-bar-title">Menu</div>
    <div class="title-bar-right">
      <button class="menu-icon" type="button" data-toggle="mobile-menu"></button>
    </div>
  </div>
  <%- if current_page?(mainpage_index_path) || current_page?(new_user_session_path) ||  current_page?(new_user_registration_path) -%>
    <%= render "layouts/topbar_normal" %>
  <%- else -%>
    <%= render "layouts/topbar_customers" %>
  <%- end -%>

    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
    window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
    <%- end -%>
    <%= javascript_pack_tag 'application' %>

    <%= yield :extra_footer %>

</body>
</html>
